/* Dark Background */

.dark-bg {
    background-image: linear-gradient(rgba(0,0,0, .9), rgba(0,0,0, .9)), url('../img/main_bg.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#hero .container {
    height: 50vh;
}

.generic {
    padding: 100px 0;
}

/* Latest Section */

section#latest .latest-item img {
    min-height: 100%;
    width: 100%;
}

section#latest button {
    max-height: 250px;
    padding: 0;
    overflow: hidden;
}

section#latest .latest-item {
    position: relative;
}

section#latest .latest-item:hover .overlay {
    opacity: 1;
    background: rgba(189,61,75, .9);
}

section#latest .latest-item:hover i {
    opacity: 1;
    transform: none;
}

section#latest .overlay {
    position: absolute;
    top:0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(189,61,75, 1);
    opacity: .5;
    color: #fff;
    transition: all .5s;
}

section#latest .overlay i {
    transform: translateY(20px);
    transition: all .5s;
    opacity: 0;
    font-size: 2rem;

}


/* @media (max-width: 767.98px) { 
    #hero p.lead {
        font-size: 10px;
        color: blue;
    }
 } */